<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nimo.dao.TbUserMapper">
    <resultMap id="BaseResultMap" type="com.nimo.entity.TbUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="reg_date" jdbcType="TIMESTAMP" property="regDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="last_date" jdbcType="TIMESTAMP" property="lastDate"/>
        <result column="online" jdbcType="BIGINT" property="online"/>
        <result column="stopped" jdbcType="VARCHAR" property="stopped"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.nimo.entity.TbUser">
        <result column="note" jdbcType="LONGVARCHAR" property="note"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, mobile, password, nick_name, sex, birthday, avatar, email, reg_date, update_date,
    last_date, online, stopped
  </sql>
    <sql id="Blob_Column_List">
    note
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.nimo.entity.TbUser">
    insert into tb_user (id, mobile, password,
      nick_name, sex, birthday,
      avatar, email, reg_date,
      update_date, last_date, online,
      stopped, note)
    values (#{id,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP},
      #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{regDate,jdbcType=TIMESTAMP},
      #{updateDate,jdbcType=TIMESTAMP}, #{lastDate,jdbcType=TIMESTAMP}, #{online,jdbcType=BIGINT},
      #{stopped,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.nimo.entity.TbUser">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="regDate != null">
                reg_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="lastDate != null">
                last_date,
            </if>
            <if test="online != null">
                online,
            </if>
            <if test="stopped != null">
                stopped,
            </if>
            <if test="note != null">
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="regDate != null">
                #{regDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastDate != null">
                #{lastDate,jdbcType=TIMESTAMP},
            </if>
            <if test="online != null">
                #{online,jdbcType=BIGINT},
            </if>
            <if test="stopped != null">
                #{stopped,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nimo.entity.TbUser">
        update tb_user
        <set>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="regDate != null">
                reg_date = #{regDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastDate != null">
                last_date = #{lastDate,jdbcType=TIMESTAMP},
            </if>
            <if test="online != null">
                online = #{online,jdbcType=BIGINT},
            </if>
            <if test="stopped != null">
                stopped = #{stopped,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nimo.entity.TbUser">
    update tb_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      avatar = #{avatar,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      online = #{online,jdbcType=BIGINT},
      stopped = #{stopped,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.nimo.entity.TbUser">
    update tb_user
    set mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      avatar = #{avatar,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      online = #{online,jdbcType=BIGINT},
      stopped = #{stopped,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectUserList" resultMap="BaseResultMap">
    select * from tb_user;
  </select>
</mapper>
